.last-news {
	margin-top: 52px;
	&-title {
		&__text {
			display: inline-block;

			color: $brand-blue;

			font-size: 24px;
		}
		&__line {
			display: inline-block;

			width: 271px;

			border-bottom: 2px solid $brand-red;
		}
	}
	&-list {
		margin-top: 1px;

		color: $brand-black;

		font-size: 14px;
		line-height: 26px;
		&-item {
			list-style-position: inside;
			list-style-type: disc;
		}
	}
}