.newsfeed {
	margin-top: 20px;
	&-title {
		&__text {
			display: inline-block;

			color: $brand-blue;

			font-size: 24px;
		}
		&__line {
			display: inline-block;

			width: 271px;

			border-bottom: 2px solid $brand-red;
		}
	}
	&-main {
		margin-top: 10px;
		&__image {
			display: block;
			float: left;
		}
		&__text {
			display: block;
			float: left;

			width: 273px;
			padding: 7px 0 0 7px;

			color: $brand-black;

			font-size: 14px;
			font-weight: bold;
			line-height: 20px;
		}
	}
	&-list {
		margin-top: 2px;

		list-style-position: inside;
		list-style-type: disc;

		color: $brand-black;

		font-size: 14px;
	}
	&-item {
		line-height: 21px;
	}
}