.overview {
	width: 100%;
	margin-top: 7px;
	&-title {
		&__text {
			display: inline-block;

			font-size: 24px;
		}
		&__line {
			display: inline-block;

			width: 868px;

			border-bottom: 2px solid $brand-black;

			@include tablet {
				width: 550px;
			}
		}
	}
	&-carousel {
		position: relative;
		&__overlay {
			position: absolute;
			top: 0;

			display: block;

			width: 65px;
			height: 165px;

			opacity: .8;
			background-color: $brand-white;
			&_left {
				left: 0;
			}
			&_right {
				right: 0;
			}
		}
		&__arrow {
			position: absolute;
			top: 45px;
			&_left {
				left: 12px;
			}
			&_right {
				right: 12px;
			}
		}
		&-list {
			display: block;
			overflow: hidden;

			margin: 9px 0 0 80px;

			white-space: nowrap;
		}
		&-item {
			display: inline-block;

			width: 142px;
			margin-right: 18px;

			white-space: normal;
			&__title {
				color: $brand-red;

				font-size: 14px;
			}
			&__image {
				margin-top: 7px;
			}
			&__text {
				color: $brand-blue;

				font-size: 14px;
				line-height: 17px;
			}
		}
	}
	&__underline {
		display: inline-block;

		width: 100%;
		margin-top: 15px;

		border-bottom: 2px solid $brand-black;
	}
}