.wrapper {
	width: 940px;
	margin: auto;

	@include tablet {
		width: 620px;
	}
}

.content {
	margin: 50px 0;
}

.main {
	float: left;

	width: 620px;

	@include tablet {
		float: none;

		margin: auto;
	}
}

.main-left {
	float: left;

	width: 380px;
}

.main-right {
	float: right;

	width: 220px;
}

.sidebar {
	float: right;

	width: 300px;

	@include tablet {
		float: none;

		width: 620px;
		margin: auto;
	}
}