/* colors */

$brand-white: #ffffff;
$brand-red: #cb1111;
$brand-black: #000000;
$brand-blue: #3d76cc;
$brand-gray-dark: #333333;
$brand-gray: #d7d8d9;
$brand-gray-light: #f7f9fa;
$brand-purple: #6a0099;

/* width */

$desktop-width: 940px; 